/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC_PRE {
        publishDir = [
            path: { "${params.outdir}/fastqc_pre" },
            mode: params.publish_dir_mode
        ]

        ext.args = '--quiet'
    }

    withName: TRIMMOMATIC {
        publishDir = [
            path: { "${params.outdir}/trimmomatic" },
            mode: params.publish_dir_mode,
            pattern: "*.{fastq.gz,log}"
        ]

         ext.args = [
            "ILLUMINACLIP:${params.trimmomatic_adapters}:2:30:10",
            "LEADING:5",
            "TRAILING:5",
            "SLIDINGWINDOW:4:15",
            "MINLEN:25"
        ]
    }

    withName: FASTQC_POST {
        publishDir = [
            path: { "${params.outdir}/fastqc_post" },
            mode: params.publish_dir_mode
        ]

        ext.args = '--quiet'
    }

    withName: MEGAHIT {
        ext.args = '--min-contig-len 500'
        publishDir = [
            path: { "${params.outdir}/assembly" },
            mode: params.publish_dir_mode
        ]
    }

    withName: DIAMOND_MAKE_RVDB {
        publishDir = [
            path: { "${params.outdir}/diamond_databases" },
            mode: params.publish_dir_mode
        ]

        ext.args = '--taxonmap --taxonnodes'
    }

    withName: DIAMOND_MAKE_NCBI_DB {
        publishDir = [
            path: { "${params.outdir}/diamond_databases" },
            mode: params.publish_dir_mode
        ]

        ext.args = '--taxonmap --taxonnodes'
    }

    withName: DIAMOND_MAKE_NR_DB {
        publishDir = [
            path: { "${params.outdir}/diamond_databases" },
            mode: params.publish_dir_mode
        ]

        ext.args = '--taxonmap --taxonnodes'
    }


    withName: DIAMOND_BLASTX_PRE_RVDB {
        publishDir = [
            path: { "${params.outdir}/rvdb_diamond_results" },
            mode: params.publish_dir_mode
        ]

        ext.args = [
            '--evalue 1e-5',
            '--max-target-seqs 25'
        ]
    }

    withName: DIAMOND_BLASTX_PRE_NCBI {
        publishDir = [
            path: { "${params.outdir}/ncbi_diamond_results" },
            mode: params.publish_dir_mode
        ]

        ext.args = [
            '--evalue 1e-5',
            '--max-target-seqs 25'
        ]
    }

    withName: DIAMOND_MAKE_NR_DB {
        publishDir = [
            path: { "${params.outdir}/nr_diamond_results" },
            mode: params.publish_dir_mode
        ]

        ext.args = [
            '--evalue 1e-5',
            '--max-target-seqs 25'
        ]
    }

    withName: TAXONKIT_LINEAGE {
        publishDir = [
            path: { "${params.outdir}/taxonomy" },
            mode: params.publish_dir_mode
        ]

        ext.args = '--show-lineage-taxids --show-lineage-ranks'
    }

    withName: BLAST_BLASTN {
        publishDir = [
            path: { "${params.outdir}/blastn_results" },
            mode: params.publish_dir_mode
        ]

         ext.args = [
            '-evalue 1e-5',
            '-max_target_seqs 10',
            '-outfmt "6 qseqid sseqid pident length qstart qend sstart send evalue bitscore stitle"'
        ]
    }

    withName: NCBI_PROCESSING {
        publishDir = [
            path: { "${params.outdir}/ncbi_collected" },
            mode: params.publish_dir_mode
        ]
    }

    withName: RVDB_PROCESSING {
        publishDir = [
            path: { "${params.outdir}/rvdb_collected" },
            mode: params.publish_dir_mode
        ]
    }

    withName: CONTIG_FILTER {
        publishDir = [
            path: { "${params.outdir}/contig_filtering" },
            mode: params.publish_dir_mode
        ]
    }

    withName: CONTIG_UNIQUE_SORTER {
        publishDir = [
            path: { "${params.outdir}/contig_sorting" },
            mode: params.publish_dir_mode
        ]
    }

    withName: MAKE_BLASTN_FASTA {
        publishDir = [
            path: { "${params.outdir}/blast_fasta" },
            mode: params.publish_dir_mode
        ]
    }

    withName: FETCH_METADATA_BLASTN {
        publishDir = [
            path: { "${params.outdir}/blastn_metadata" },
            mode: params.publish_dir_mode
        ]
    }

    withName: FETCH_METADATA_BLASTX {
        publishDir = [
            path: { "${params.outdir}/blastx_metadata" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    

}
