/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC_PRE {
        publishDir = [
            path: { "${params.outdir}/qc/fastqc_pre" },
            mode: params.publish_dir_mode
        ]

        
    }

    withName: TRIMMOMATIC {
        ext.args = [
            "ILLUMINACLIP:${params.trimmomatic_adapters}:2:30:10",
            "LEADING:5",
            "TRAILING:5",
            "SLIDINGWINDOW:4:15",
            "MINLEN:25"
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/qc/trimmomatic" },
            mode: params.publish_dir_mode
        ]
    }

    withName: FASTQC_POST {
        publishDir = [
            path: { "${params.outdir}/qc/fastqc_post" },
            mode: params.publish_dir_mode
        ]

        ext.args = '--quiet'
    }

    withName: MEGAHIT {
        publishDir = [
            path: { "${params.outdir}/assembly" },
            mode: params.publish_dir_mode
        ]
    }

    withName: DIAMOND_MAKE_RVDB {
        publishDir = [
            path: { "${params.outdir}/dmnd_databases/rvdb" },
            mode: params.publish_dir_mode
        ]

        ext.args = ''
    }

    withName: DIAMOND_MAKE_NCBI_DB {
        publishDir = [
            path: { "${params.outdir}/dmnd_databases/ncbi_pre" },
            mode: params.publish_dir_mode
        ]

        ext.args = ''
    }

    withName: DIAMOND_MAKE_NR_DB {
        publishDir = [
            path: { "${params.outdir}/dmnd_databases/nr" },
            mode: params.publish_dir_mode
        ]

        ext.args = ''
    }


    withName: DIAMOND_BLASTX_PRE_RVDB {
        ext.args = [
            "--evalue 1e-5",
            "--outfmt 6 qseqid sseqid qlen stitle pident length qstart qend evalue bitscore",
            "--id 80",
            "--strand both",
            "--unal 0"
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/dmnd_results/rvdb" },
            mode: params.publish_dir_mode
        ]
    }

    withName: DIAMOND_BLASTX_PRE_NCBI {
        ext.args = [
            "--evalue 1e-5",
            "--outfmt 6 qseqid sseqid qlen stitle pident length qstart qend evalue bitscore",
            "--id 80",
            "--strand both",
            "--unal 0"
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/dmnd_results/ncbi_pre" },
            mode: params.publish_dir_mode
        ]
    }

    withName: DIAMOND_BLASTX_FINAL {
        ext.args = [
            "--evalue 1e-5",
            "--outfmt 6 qseqid sseqid qlen stitle pident length qstart qend evalue bitscore",
            "--id 80",
            "--strand both",
            "--unal 0"
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/dmnd_results/nr" },
            mode: params.publish_dir_mode
        ]
    }

    withName: LINEAGE_PRE {
        ext.args = [
            "-i 2",
            "-d \$'\\t'"
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/taxonomy/pre" },
            mode: params.publish_dir_mode
        ]
    }

    withName: LINEAGE_BLASTN {
        ext.args = [
            "-i 10",
            "-d \$'\\t'"
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/taxonomy/blastn" },
            mode: params.publish_dir_mode
        ]
    }

    withName: LINEAGE_BLASTX {
        ext.args = [
            "-i 10",
            "-d \$'\\t'"
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/taxonomy/blastx" },
            mode: params.publish_dir_mode
        ]
    }

    withName: BLAST_BLASTN {
        ext.args = [
            "-evalue 1e-5",
            "-max_target_seqs 20",
            "-outfmt '6 qseqid sseqid qlen stitle pident length qstart qend evalue bitscore'"
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/blastn_results" },
            mode: params.publish_dir_mode
        ]
    }

    withName: MEGAHIT_RENAME {
        publishDir = [
            path: { "${params.outdir}/assembly_renamed" },
            mode: params.publish_dir_mode
        ]
    }

    withName: FASTA_PROCESSING {
        publishDir = [
            path: { "${params.outdir}/fasta_processing" },
            mode: params.publish_dir_mode
        ]
    }

    withName: RVDB_PROCESSING {
        publishDir = [
            path: { "${params.outdir}/rvdb_processing" },
            mode: params.publish_dir_mode
        ]
    }

    withName: TAXONOMY_ID {
        ext.final_accessions_tsv = 'final_accessions.txt'
        ext.output_tsv = 'accession_taxid.tsv' 
        publishDir = [
            path: { "${params.outdir}/taxonomy_id" },
            mode: params.publish_dir_mode
        ]
    }

    withName: CONTIG_FILTER {
        publishDir = [
            path: { "${params.outdir}/contig_filtering" },
            mode: params.publish_dir_mode
        ]
    }

    withName: CONTIG_UNIQUE_SORTER {
        publishDir = [
            path: { "${params.outdir}/contig_sorting" },
            mode: params.publish_dir_mode
        ]
    }

    withName: MAKE_BLAST_FASTA {
        publishDir = [
            path: { "${params.outdir}/blast_fasta" },
            mode: params.publish_dir_mode
        ]
    }

    withName: FETCH_METADATA_BLASTN {
        publishDir = [
            path: { "${params.outdir}/blast_out_metadata/blastn" },
            mode: params.publish_dir_mode
        ]
    }


    withName: FETCH_METADATA_BLASTX {
        publishDir = [
            path: { "${params.outdir}/blast_out_metadata/blastx" },
            mode: params.publish_dir_mode
        ]
    }


    withName: MERGER {
        publishDir = [
            path: { "${params.outdir}/merges/ncbi_rvdb_merged" },
            mode: params.publish_dir_mode
        ]
    }

    withName: MERGER2 {
        publishDir = [
            path: { "${params.outdir}/merges/taxonomy1_prep" },
            mode: params.publish_dir_mode
        ]
    }

    withName: MERGER3 {
        publishDir = [
            path: { "${params.outdir}/merges/blastn_taxonomy_prep" },
            mode: params.publish_dir_mode
        ]
    }

    withName: MERGER4 {
        publishDir = [
            path: { "${params.outdir}/merges/blastx_taxonomy_prep" },
            mode: params.publish_dir_mode
        ]
    }

    withName: PROTEIN_MERGER {
        publishDir = [
            path: { "${params.outdir}/merges/post_taxonomy1" },
            mode: params.publish_dir_mode
        ]
    }

    withName: SPLITTER {
        publishDir = [
            path: { "${params.outdir}/splitter/taxonomy1_prep" },
            mode: params.publish_dir_mode
        ]
    }

    withName: SEQKIT_SPLIT2 {
        ext.args = [
            "-p 128"
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/splitter/fasta" },
            mode: params.publish_dir_mode
        ]
    }

    withName: SPLITTER_2 {
        publishDir = [
            path: { "${params.outdir}/splitter/blastn_taxonomy_prep" },
            mode: params.publish_dir_mode
        ]
    }

    withName: SPLITTER_3 {
        publishDir = [
            path: { "${params.outdir}/splitter/blastx_taxonomy_prep" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/qc/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
