process {

    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]

    // errorStrategy = "ignore"
}


workDir = "_deleteme/work"

params {

    input  = null

    // Output options
    diamond_output_format = 'tsv'

    //file paths
    outdir = "_deleteme/results"
    trimmomatic_adapters = 'stub_test_data/adapters.fa'
    samplesheet = 'stub_test_data/s_sheet.csv'
    taxidlist = 'stub_test_data/taxidlist.txt'


    //databases
    rvdb_fasta = "stub_test_data/U-RVDBv30.0-prot.fasta"
    viral_csv = "stub_test_data/virus_taxonomy_lvls.csv"
    ncbi_nr_fasta = "stub_test_data/nr.faa"
    ncbi_nt_fasta = "stub_test_data/nt.fasta"
    ncbi_nt_db = "stub_test_data/nt"
    taxdb = "stub_test_data/taxonkit_db"
    blastx_nr_fasta = "stub_test_data/blast.fa"

    taxonmap = 'stub_test_data/dummy_taxonmap.txt'
    taxonnodes = 'stub_test_data/dummy_taxonnodes.txt'
    taxonnames = 'stub_test_data/dummy_taxonnames.txt'

}
