/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run CERI-KRISP/virolocate_nf -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 15,
        memory: '80.GB',
        time: '150.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    input  = params.pipelines_testdata_base_path + 'viralrecon/samplesheet/samplesheet_test_illumina_amplicon.csv'

    input                      = '/analyses/projects/Virolocate/_sra_samplesheet.csv'

    // Output options
    diamond_output_format = 'tsv'

    //file paths
    outdir="results"
    trimmomatic_adapters = '/analyses/users/nokuzothan/Virolocate/trim_adapters.fa'
    samplesheet = '/analyses/projects/Virolocate/_sra_samplesheet.csv'
    taxidlist = '/analyses/projects/Virolocate/stub_test_data/taxidlist.txt'
    taxids ='/analyses/projects/Virolocate/stub_test_data/taxid'
    

    // //databases
    rvdb_fasta = "/analyses/users/nokuzothan/disc_pipe/ncbidb/RVDB/v30.0/U-RVDBv30.0-prot.fasta"
    viral_csv = "/analyses/projects/Virolocate/virus_taxonomy_lvls.csv"
    ncbi_nr_fasta = "/analyses/users/nokuzothan/disc_pipe/ncbidb/fasta/nr.faa"
    ncbi_nt_db = "/analyses/users/nokuzothan/disc_pipe/ncbidb/nt"
    ncbi_viral_dmnd = '/analyses/users/nokuzothan/disc_pipe/init_tools/diamond/output/NCBI/nr.dmnd'
    diamond_blastx_final = null
    
    taxdb = "/analyses/projects/proj-virolocate-nokuzotha/taxdump"

}
