process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]

    errorStrategy = "ignore"
}


params {

    input                      = null

    // Output options
    diamond_output_format = 'tsv'

    //file paths
    outdir="results"
    trimmomatic_adapters = 'stub_test_data/adapters.fa'
    samplesheet = 'stub_test_data/s_sheet.csv'


    //databases
    rvdb_fasta = "stub_test_data/U-RVDBv30.0-prot.fasta"
    viral_csv = "stub_test_data/virus_taxonomy_lvls.csv"
    ncbi_nr_fasta = "stub_test_data/nr.faa"
    ncbi_nt_fasta = "stub_test_data/nt"
    taxonkit_db = "stub_test_data/taxonkit_db"

}
