/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run CERI-KRISP/virolocate_nf -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    input  = params.pipelines_testdata_base_path + 'viralrecon/samplesheet/samplesheet_test_illumina_amplicon.csv'

    input  = null

    // Output options
    diamond_output_format = 'tsv'

    //file paths
    outdir = "_deleteme/results"
    trimmomatic_adapters = '/analyses/software/programs/trimmomatic/0.39/adapters.fa'
    samplesheet = '/home/nokuzothan/workspace/disc_pipe/s_sheet.csv'
    taxidlist = 'stub_test_data/taxidlist.txt'


    //databases
    rvdb_fasta = "stub_test_data/U-RVDBv30.0-prot.fasta"
    viral_csv = "stub_test_data/virus_taxonomy_lvls.csv"
    ncbi_nr_fasta = "stub_test_data/nr.faa"
    ncbi_nt_db = "stub_test_data/nt"
    taxdb = "stub_test_data/taxonkit_db"
  

    taxonmap = 'stub_test_data/dummy_taxonmap.txt'
    taxonnodes = 'stub_test_data/dummy_taxonnodes.txt'
    taxonnames = 'stub_test_data/dummy_taxonnames.txt'

}
