params {
    
    input                      = null

    // Output options
    diamond_output_format = 'tsv'

    //file paths
    outdir="results"
    trimmomatic_adapters = "/analyses/software/programs/trimmomatic/0.39/adapters.fa"
    samplesheet = '/analyses/users/nokuzothan/disc_pipe/s_sheet.csv'



    //databases
    rvdb_fasta = "/analyses/users/nokuzothan/disc_pipe/ncbidb/rvdb/v30.0/u-rvdbv30.0-prot.fasta"
    viral_csv = "/analyses/users/nokuzothan/disc_pipe/init_tools/diamond/input/virus_taxonomy_lvls.csv"
    ncbi_fasta = "/analyses/users/nokuzothan/disc_pipe/ncbidb/fasta/nr.faa"
    ncbi_nr_fasta = "/analyses/users/nokuzothan/disc_pipe/ncbidb/fasta/nr.faa"
    ncbi_nt_fasta = "/analyses/users/nokuzothan/disc_pipe/ncbidb/nt"
    taxonkit_db = "/analyses/users/nokuzothan/disc_pipe/ncbidb/nt"
    blastx_nr_fasta = "/analyses/users/nokuzothan/disc_pipe/ncbidb/fasta/nr.faa"
    blastn_db = "/analyses/users/nokuzothan/disc_pipe/ncbidb/nt"
    final_blastx_db = "/analyses/users/nokuzothan/disc_pipe/ncbidb/fasta/nr.faa"

}


process.errorStrategy = "ignore"